.modal-class {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  background-color: yellow;
  border: 2px solid #7ac86a;
  border-radius: 10px;
  padding: 4px;
  text-align: center;
  display: none;
  align-items: center;
  z-index: 999;
}

.modal-edit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background-color: yellow;
  border: 2px solid #7ac86a;
  border-radius: 10px;
  padding: 4px;
  text-align: center;
  display: none;
  align-items: center;
  z-index: 999;
}

.modal-student , .modal-editStudent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  max-width: 95%;
  background-color: yellow;
  border: 2px solid #7ac86a;
  border-radius: 10px;
  padding: 4px;
  text-align: center;
  display: none;
  z-index: 999;
}
.show-modal {
  display: flex;
}
